@model List<MVCCRUD.Models.Domain.Employee>
@{
}
<div class="d-flex justify-content-between text-center">

    <h3> Employess</h3>
    <a class="btn btn-outline-success btn-sm" asp-controller="Employees" asp-action="Add">Add Employee</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Salary</th>
            <th>Date Of Birth</th>
            <th>Department</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.Id</td>
                <td>@employee.Name</td>
                <td>@employee.Email</td>
                <td>@employee.Salary</td>
                <td>@employee.DateOfBirth.ToString("dd-MM-yyyy")</td>
                <td>@employee.Department</td>
                <td><a class="btn btn-primary" href="Employees/View/@employee.Id">View</a></td>

            </tr>
        }
    </tbody>
</table>